<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://172.17.100.15:9899/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<style>
    h1{
        font-family: 'Press Start 2p';
    }
    body {
        font-family: 'Montserrat';
    }
</style>
<body>

    <div class="header container-fluid text-center mt-4 f">
  <!-- Content here -->
    <h1 class="text-center" >{{ title }}</h1>
    <p class="text-center m">{{ message }}</p>

    {% block content %}
    
    {% endblock %}
</div>
    

    <!-- Bootstrap JS Bundle -->
    <script src="http://172.17.100.15:9899/bootstrap.bundle.min.js"></script>
</body>
</html>